.features {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 37px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../img/white-triangle.svg);
    background-position: center;

    @media (min-width: $tablet-width) {
      display: none;
    }

  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 0;

  &:first-child {
    .features__section {
      padding-top: 74px;

      @media (min-width: $tablet-width) {
        padding-top: 30px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 22px;
      }
    }
  }
}

.features__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 38px 13px;

  @media (min-width: $tablet-width) {
    max-width: 256px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 46px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    padding: 30px 64px;
  }
}

.features__section--left {

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.features__section--right {

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.features__img-wrapper--left {

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.features__img-wrapper--right {

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.features__wrapper {
  background: $color-blue;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 12px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;

    br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  @media (min-width: $desktop-width) {

    br {
      display: block;

    }
  }
}

.features__text {
  margin: 0;
}

.features__num {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.features__img-wrapper {

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    position: relative;
    order: 1;
  }
}

.features__img {
  width: 100%;
  height: 256px;
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    order: 2;
  }
}

.features__item--dark {
  background: $color-dark;
  color: $color-txt;
  border-bottom: 1px solid $color-border;

  .features__section {
    padding: 25px 32px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding: 24px 49px;
      padding-top: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 33.33%;
    display: flex;
  }
}
