.footer {
  flex-shrink: 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  background: $color-white;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 34px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 121px;
  }
}

.footer__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $color-title;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo-text {
  line-height: 26px;
  color: $color-title;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer__links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__link {
  position: relative;
  width: 46px;
  height: 48px;
  background: $color-blue;
  margin: 3px;

  &:hover {
    background: $color-blue-hover;
  }

  &:active {
    background: $color-blue-active;

    &::before {
      opacity: 0.3;
    }
  }
}

.footer__link--tw::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 23px;
  right: 13px;
  transform: translate(0, 45%);
  width: 18px;
  height: 15px;
  background-image: url(../img/icon-twitter.svg);

}

.footer__link--fb::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 23px;
  right: 18px;
  transform: translate(0, 45%);
  width: 9px;
  height: 19px;
  background-image: url(../img/icon-facebook.svg);
}

.footer__link--yt::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 23px;
  right: 13px;
  transform: translate(0, 45%);
  width: 20px;
  height: 14px;
  background-image: url(../img/icon-youtube.svg);
}

.footer__top {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__map {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.footer__logo-link {
  padding-left: 10px;

  &:hover {
    .footer__logo-link-img {
      fill: $color-blue-hover;
    }
  }

  &:active {
    .footer__logo-link-img {
      fill: $color-blue-active;
    }
  }
}

.footer__logo-link-img {
  display: block;
}
