.h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 38px;
    }
}

.h1--form {
    margin-bottom: 28px;
}
